.outer{
    display: inline-flex;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 2px;
    height: max-content;
    width: 90vw;
    background-color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
.bluefont{
    color: #1976d2;
}
.date{
    font-family: monospace;
    text-align: end;
}
.iscart{
    width: 80vw;
}
.para{
    width: 100%;
    font-family: cinzel;
    font-size: larger;
    font-weight: 600;
    margin: 0.5rem;
    height: max-content;
}
.name{
    cursor: pointer;
}
.name:hover{
    text-decoration: underline;
}
.image {
    width: max-content;

    margin-right: 1rem;
}
.image img{
    width: auto;
    max-width: 50vw;
    display: grid;
    justify-content: center;
}
.grey{
    background-color: rgb(180, 180, 180);
}
.oos{
    color: rgb(124, 0, 0);
    font-size: larger;
    margin-top: 1rem;
    align-self: flex-end;
    left: 0;
}
.price{
    font-size: larger;
    font-family: 'Segoe UI';
    font-weight: 500;
}
.add{
    display: grid;
    text-align: center;
    align-self: center;
    justify-items: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: large;
    margin-left: auto;
    padding-right: 0.5rem;    
}
.add button{
    font-size: larger;
    width: max-content;
    min-width: 2rem;
    background-color: #1976d2;
    color: whitesmoke;
    border-radius: 0.5rem;
    border-width: 0;
    transition: all 0.5s;
}
.add button:hover{
    background-color: #025ab3;
}.add button:active{
    transform: scale(0.8);
}
.add button:disabled{
    background-color: gray;
}