.inside{
    padding: 1rem 0.5rem 1rem 0.5rem;
    overflow-y: scroll;
}
.inside>li{
    margin: 0rem 1rem 1rem 1rem;
}
.prices{
    max-width: 16rem;
    width: max-content;
}
.inputs{
    margin:0.5rem !important;
}
.drawbutton{
  margin: 0;
}
.right{
    width: 100%;
    display: grid;
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.apply{
    width: max-content;
    justify-self: flex-end;
    right: 0.5rem;
}